@import "colors";

$margin-md: 1.5em;

.body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  font-size: 12px;
}

@media (min-width: 481px) {
  .body {
    font-size: 14px;
  }
}

@media (min-width: 737px) {
  .body {
    font-size: 16px;
  }
}

h1, h2 {
  font-family: Alegreya, "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
}

h3, h4 {
  font-family: Roboto, "Arial", sans-serif;
  font-weight: 700;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $color-blue;
}

.content {
  max-width: 800px;
  padding: 16px;
  color: $color-creamy;
}

.margin-top-md {
  margin-top: $margin-md;
}
